.bg-primary{
    background:#477091!important;
    }
    
    .mt20{
    margin-top:20px;
    }
    
    .container-custom{
    width:95%!important;
    margin:auto;
    }

    .nav-wrapper ul li img.icon {
        vertical-align: middle; /* Align icons with text */
        margin-right: 8px; /* Space between icon and text */
        width: 24px; /* Set icon width */
        height: 24px; /* Set icon height */
    }