

<footer class="page-footer bg-primary">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">ThoughtsThreads</h5>
        <p class="grey-text text-lighten-4">Engage with our diverse threads of thought.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Connect With Us</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-instagram"></i> Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-youtube"></i> YouTube</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Explore</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/termsandcondition">Terms and Conditions</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
          <li><a class="grey-text text-lighten-3" href="/privacy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Social Media </h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram </a></li>
          <li><a class="grey-text text-lighten-3" href="#!">WhatsApp </a></li>
          <li><a class="grey-text text-lighten-3" href="#!">LinkedIn </a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter </a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook </a></li>
     
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2024 thoughtsthreads.
